  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section special_container">
      <div class="container">
          <nav class="navbar navbar-expand-lg custom_nav-container">
              <a class="navbar-brand" href="index.html">
                <span> Parking System</span>
              </a>
  
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                  aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>
  
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                      <li class="nav-item">
                          <a class="nav-link" href="index.html">Reserve</a>
                      </li>
                      <li class="nav-item active">
                          <a class="nav-link" href="#about">About</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#pricing">Pricing</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#signup">Sign Up/Login</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#why">Why Us</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#testimonial">Our Clients</a>
                      </li>
                  </ul>
                  <form class="d-flex">
                      <button class="btn btn-outline-success nav_search-btn" type="submit">
                          <i class="fa fa-search" aria-hidden="true"></i>
                      </button>
                  </form>
              </div>
          </nav>
      </div>
  </header>
    <!-- end header section -->

  <!-- about section -->

  <section class="about_section">
    <div class="container" style="margin-bottom: 10%;">
      <div class="heading_container">
        <h2>
          About Us
        </h2>
        <p>
          We provide a simple and affordable solution to finding a car parking spot! Parking System is dedicated 
          to finding free car parking spots for you according to your selected location. 
          Let us do the rest!
        </p>
      </div>
      <div class="row">
        <div class="col-lg-6 ">
          <div class="img-box">
            <img src="assets/images/about-img.jpg" alt="">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="detail-box">
            <h3>
              We Are Here For Help
            </h3>
            <p>
              We are dedicated to making your parking experience convenient and hassle-free. Regardless if you are looking for short-term or
              long-term car parking solution, we've got you covered! 
            </p>
            <p>
              All you need to do is enter your desired location and you are already halfway there.
              <b>Sign up today and enjoy your free car parking spot reservation!</b>             </p>
            <a href="#signup">
              Sign Up
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>


  