    <!-- header section strats -->
    <header class="header_section  special_container">
      <div class="container">
          <nav class="navbar navbar-expand-lg custom_nav-container">
              <a class="navbar-brand" href="index.html">
                <span> Parking System</span>
              </a>
  
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                  aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>
  
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                      <li class="nav-item">
                          <a class="nav-link" href="index.html">Reserve</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#about">About</a>
                      </li>
                      <li class="nav-item active">
                          <a class="nav-link" href="#pricing">Pricing</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#signup">Sign Up/Login</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#why">Why Us</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#testimonial">Our Clients</a>
                      </li>
                  </ul>
                  <form class="d-flex">
                      <button class="btn btn-outline-success nav_search-btn" type="submit">
                          <i class="fa fa-search" aria-hidden="true"></i>
                      </button>
                  </form>
              </div>
          </nav>
      </div>
  </header>
    <!-- end header section -->
  

  <!-- pricing section -->

  <section class="pricing_section layout_padding">
    <div class="bg-box">
      <img src="assets/images/pricing-bg.jpg" alt="">
    </div>
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Our Pricing
        </h2>
      </div>
      <div class="col-xl-10 px-0 mx-auto">
        <div class="row">
          <div class="col-md-6 col-lg-4 mx-auto">
            <div class="box">
              <h4 class="price">
                10$
              </h4>
              <h5 class="name">
                Basic
              </h5>
              <p>
                May your parking be hassle-free! Includes in-advance parking slot scheduling up until a week and the free-cancalation time period of 2 days from the moment of registration. In case you don't finish your payment at a nearby Parking System, the reservation will automatically
                cancel once the free-cancelation period is over.              </p>
              <a href="index.html">
                Make a Reservation <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
              </a>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mx-auto">
            <div class="box box-center">
              <h4 class="price">
                30$
              </h4>
              <h5 class="name">
                Premium
              </h5>
              <p>
                Enjoy ultimate comfort of the Parking System! Includes parking slot scheduling up until 3 weeks and without the need to pay in advance. You pay entirely onsite when you arrive to your chosen
                Parking System slot.              </p>
              <a href="index.html">
                Make a Reservation  <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
              </a>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mx-auto">
            <div class="box">
              <h4 class="price">
                20$
              </h4>
              <h5 class="name">
                Standard
              </h5>
              <p>
                Enjoy your parking hassle-free! Includes in-advance parking slot scheduling up until 2 weeks and the free-cancalation time period of 5 days from the moment of registration. In case you don't finish your payment at a nearby Parking System, the reservation will automatically
                cancel once the free-cancelation period is over.                  </p>
              <a href="index.html">
                Make a Reservation <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
