      <!-- header section strats -->
        <header class="header_section special_container">
          <div class="container">
              <nav class="navbar navbar-expand-lg custom_nav-container">
                  <a class="navbar-brand" href="index.html">
                    <span> Parking System</span>
                  </a>
      
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                  </button>
      
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                          <li class="nav-item">
                              <a class="nav-link" href="index.html">Reserve</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" href="#about">About</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" href="#pricing">Pricing</a>
                          </li>
                          <li class="nav-item active">
                              <a class="nav-link" href="#signup">Sign Up/Login</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" href="#why">Why Us</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" href="#testimonial">Our Clients</a>
                          </li>
                      </ul>
                      <form class="d-flex">
                          <button class="btn btn-outline-success nav_search-btn" type="submit">
                              <i class="fa fa-search" aria-hidden="true"></i>
                          </button>
                      </form>
                  </div>
              </nav>
          </div>
      </header>
        <!-- end header section -->

      <div class="about_section layout_padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 center-content">
                    
                        <h1 style="text-align: center;">SIGN UP</h1>
                    
                    <form action="index.html#dashboard" method="post">
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input name="username" type="text" class="form-control" id="username" placeholder="Enter username" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Email address</label>
                            <input name="email" type="email" class="form-control" id="email" placeholder="Enter email" required>
                        </div>
                        <div class="form-group">
                          <label for="phone_number">Phone number</label>
                          <input name="phone_number" type="phone_number" class="form-control" id="phone_number" placeholder="387 61 234 567" required>
                      </div class = "btn-box">
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input name="password" type="password" class="form-control" id="password" placeholder="Password" required>
                        </div>
                        <div class="form-group">
                            <label for="confirm_password">Confirm Password</label>
                            <input name="confirm_password" type="password" class="form-control" id="confirm_password" placeholder="Confirm Password" required>
                        </div>
                    <button type="submit" class="signup_button">SIGN UP</button>
                    </form>
                </div>
            </div>
            <div class="row justify-content-center mt-4">
                <div class="col-md-6">
                    <br> <hr> <br>
                    <div class="heading_container heading_center">
                        <h1 style="text-align: center;">LOG IN</h1>
                    </div>
                    <form action="index.html#dashboard" method="post">
                        <div class="form-group">
                            <label for="login_email">Email</label>
                            <input name="login_email" type="text" class="form-control" id="login_email" placeholder="Enter email" required>
                        </div>
                        <div class="form-group">
                            <label for="login_password">Password</label>
                            <input name="login_password" type="password" class="form-control" id="login_password" placeholder="Password" required>
                        </div>
                        <button type="submit" class="signup_button">LOG IN</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- end about section -->