<script>
  // Function to update navigation bar based on user login status
  function updateNavigationBar() {
    var user = JSON.parse(localStorage.getItem('user'));
    if (user) {
      console.log("here");
      // Hide the "Sign Up/Login" link if user is logged in
      $('.nav-link[href="#signup"]').hide();
      // Display additional navigation items for logged-in users
      $('#dashboard-link, #profile-link, #logout-link').show();
    } else {
      // Show the "Sign Up/Login" link if user is not logged in
      $('.nav-link[href="#signup"]').show();
      // Hide additional navigation items for non-logged-in users
      $('#dashboard-link, #profile-link, #logout-link').hide();
    }
  }

  // Call the function when the document is ready
  $(document).ready(function() {
    updateNavigationBar(); // Call the function initially
  });

  // Logout function
  $(document).on('click', '#logout', function(e) {
    e.preventDefault();
    // Clear localStorage
    localStorage.clear();
    // Redirect the user to the logout page
    window.location.href = 'index.html';
  });
</script> 

<div class="hero_area">
    <div class="bg-box">
      <img src="assets/images/slider-bg.jpg" alt="">
    </div>
    <!-- header section strats -->
    <header class="header_section special_container">
      <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container">
          <a class="navbar-brand" href="index.html">
            <span> Parking System</span>
          </a>
    
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
    
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item active">
                <a class="nav-link" id="home-link" href="index.html">Reserve</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="about-link" href="#about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="pricing-link" href="#pricing">Pricing</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="signup-link" href="#signup">Sign Up/Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="why-link" href="#why">Why Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="testimonial-link" href="#testimonial">Our Clients</a>
              </li>
              <!-- Dynamic menu items for logged-in users -->
              <li class="nav-item" id="dashboard-link" style="display: none;">
                <a class="nav-link" href="#dashboard">Dashboard</a>
              </li>
              <li class="nav-item" id="profile-link" style="display: none;">
                <a class="nav-link" href="#profile">Profile</a>
              </li>
              <li class="nav-item" id="logout-link" style="display: none;">
                <a class="nav-link" href="#" id="logout">Logout</a>
              </li>
            </ul>
            <form class="d-flex">
              <button class="btn btn-outline-success nav_search-btn" type="submit">
                <i class="fa fa-search" aria-hidden="true"></i>
              </button>
            </form>
          </div>
        </nav>
      </div>
    </header>
  
    <!-- end header section -->

    <!-- slider section -->
    <section class="slider_section ">
      <div class="container">
        <div class="detail-box col-md-9 mx-auto px-0">
          <h1>
            Finding Parking Lots Made Easy
          </h1>
          <p style="padding-bottom: 30px;">
            <b>
            No more struggle with finding free car parking spots. Reserve your spot now and don't worry about being late ever again!
            </b>
          </p>
        </div>
        <div class="find_form_container">
          <form action="#" id="main-form">
            <div class="form-row justify-content-center">
              <div class="col-md-3 col-sm-3 col-12">
                <div class="form-group">
                  <label for="select-parking">Select Parking</label>
                  <div class="input-group">
                    <select id="select-parking" name="select-parking" class="form-control select-parking form-select" style="width: 100%;">
                       <option class="input-group" value="Highway Parking" data-display="Highway Parking">Highway Parking</option>
                      <option  class="input-group" value="City Center">City Center</option>
                      <option  class="input-group" value="Suburbs">Suburbs</option> 
                    </select>
                  </div>
                </div> 
              </div> 
              <div class="col-md-3 col-sm-3 col-12">
                <div class="form-group">
                  <label for="name">Name Surname</label>
                  <div class="input-group">
                    <input id="name" name="name" type="text" class="form-control" placeholder="Hena Potogija" autocomplete="name"/>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-3 col-12">
                <div class="form-group">
                  <label for="phone_number">Phone Number</label>
                  <div class="input-group ">
                    <input id="phone_number" name="phone_number" type="text" class="form-control" placeholder="387 61 234 567" />
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-3 col-12">
                <div class="form-group">
                  <label for="select-pricing">Select Pricing</label>
                  <div class="input-group">
                    <select id="select-pricing" name="select-pricing" class="form-control select-parking form-select" style="width: 100%;" >
                      <option class="input-group" value="Premium" data-display="Highway Parking">Premium</option>
                      <option  class="input-group" value="Premium">Standard</option>
                      <option  class="input-group" value="Premium">Basic</option>
                    </select>
                  </div>
                </div> 
              </div> 
            </div>
            <div class="btn-box">
              <a href="#signup">
                <button type="submit">
                  <span>
                    Reserve Your Spot
                  </span>
                </button>
              </a>
            </div>
          </form>
        </div>
      </div>
    </section>
    <!-- end slider section -->
  </div>


  <script>
$(document).ready(function () {
    $("select").select2({
        width: "resolve"
    });
}); </script>

<script>
  $(document).ready(function() {
    $("#main-form").validate({
        rules: {
             "select-parking": {
                 required: true
           },
           name: {
                 required: true
           },
           phone_number: {
                 required: true
           },
           "select-pricing": {
                 required: true
           }
        }, 
        messages: {
          "select-parking": {
                required: 'Please select a parking option'
          },
          name: {
                required: 'Please enter the reservation name'
          },
          phone_number: {
                required: 'Please enter your phone number'
          },
          "select-pricing": {
                required: 'Please select a pricing option'
          }
        },
        errorPlacement: function(error, element) {
            // Display error message in place of placeholder
            error.insertAfter(element);
        },
        submitHandler: function(form) {
          var formDataArray = $(form).serializeArray();
          // Convert the array of objects into a JSON object
          var formDataJson = {};
          formDataArray.forEach(function(item) {
              formDataJson[item.name] = item.value;
          });

           $.ajax({
               url: 'json/reservations.json',
               type: 'POST',
              data: formDataJson,
               success: function(response) {
                   // Handle success response
                   console.log(formDataJson);
                   localStorage.setItem('reservation', JSON.stringify(formDataJson));
                   window.location.href = 'index.html#signup';

               },
               error: function(xhr, status, error) {
                   console.error('Error posting form data:', error);
                   alert('An error occurred. Please try again later.');
               }
           });

        }
    });
  }) 
</script>
