<div class="hero_area">
    <div class="bg-box">
      <img src="assets/images/slider-bg.jpg" alt="">
    </div>
    <!-- header section strats -->
    <header class="header_section">
      <div class="container">
          <nav class="navbar navbar-expand-lg custom_nav-container">
              <a class="navbar-brand" href="index.html">
                <span> Parking System</span>
              </a>
  
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                  aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>
  
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                      <li class="nav-item active">
                          <a class="nav-link" href="index.html">Reserve</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#about">About</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#pricing">Pricing</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#signup">Sign Up/Login</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#why">Why Us</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#testimonial">Our Clients</a>
                      </li>
                  </ul>
                  <form class="d-flex">
                      <button class="btn btn-outline-success nav_search-btn" type="submit">
                          <i class="fa fa-search" aria-hidden="true"></i>
                      </button>
                  </form>
              </div>
          </nav>
      </div>
  </header>
  
    <!-- end header section -->

    <!-- slider section -->
    <section class="slider_section ">
      <div class="container">
        <div class="detail-box col-md-9 mx-auto px-0">
          <h1>
            Finding Parking Lots Made Easy
          </h1>
          <p style="padding-bottom: 30px;">
            <b>
            No more struggle with finding free car parking spots. Reserve your spot now and don't worry about being late ever again!
            </b>
          </p>
        </div>
        <div class="find_form_container">
          <form action="#">
            <div class="form-row justify-content-center">
              <div class="col-md-3 col-sm-3 col-12">
                <div class="form-group">
                  <label for="select-parking">Select Parking</label>
                  <div class="input-group">
                    <select id="select-parking" name="select-parking" class="form-control select-parking form-select" style="width: 100%;">
                      <!--  <option class="input-group" value="1" data-display="Highway Parking">Highway Parking</option>
                      <option  class="input-group" value="2">City Center</option>
                      <option  class="input-group" value="3">Suburbs</option> -->
                    </select>
                  </div>
                </div> 
              </div> 
              <div class="col-md-3 col-sm-3 col-12">
                <div class="form-group">
                  <label for="name">Name Surname</label>
                  <div class="input-group">
                    <input id="name" name="name" type="text" class="form-control" placeholder="Hena Potogija" autocomplete="name"/>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-3 col-12">
                <div class="form-group">
                  <label for="mobile">Phone Number</label>
                  <div class="input-group ">
                    <input id="mobile" name="mobile" type="text" class="form-control" placeholder="387 61 234 567" />
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-3 col-12">
                <div class="form-group">
                  <label for="select-pricing">Select Pricing</label>
                  <div class="input-group">
                    <select id="select-pricing" name="select-pricing" class="form-control select-parking form-select" style="width: 100%;">
                      <!--  <option class="input-group" value="1" data-display="Highway Parking">Highway Parking</option>
                      <option  class="input-group" value="2">City Center</option>
                      <option  class="input-group" value="3">Suburbs</option> -->
                    </select>
                  </div>
                </div> 
              </div> 
            </div>
            <div class="btn-box">
              <a href="#signup">
                <button type="submit">
                  <span>
                    Reserve Your Spot
                  </span>
                </button>
              </a>
            </div>
          </form>
        </div>
      </div>
    </section>
    <!-- end slider section -->
  </div>


  <script>
$(document).ready(function () {
    $("select").select2({
        width: "resolve"
    });
}); </script>