
    <!-- header section strats -->
    <header class="header_section special_container">
      <div class="container">
          <nav class="navbar navbar-expand-lg custom_nav-container">
              <a class="navbar-brand" href="index.html">
                <span> Parking System</span>
              </a>
  
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                  aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>
  
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                      <li class="nav-item">
                          <a class="nav-link" href="index.html">Home</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#about">About</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#pricing">Pricing</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#signup">Sign Up/Login</a>
                      </li>
                      <li class="nav-item active">
                          <a class="nav-link" href="#why">Why Us</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#testimonial">Our Clients</a>
                      </li>
                  </ul>
                  <form class="d-flex">
                      <button class="btn btn-outline-success nav_search-btn" type="submit">
                          <i class="fa fa-search" aria-hidden="true"></i>
                      </button>
                  </form>
              </div>
          </nav>
      </div>
  </header>
    <!-- end header section -->

  <!-- why section -->

  <section class="why_section layout_padding">
    <div class="container">
      <div class="col-md-10 px-0">
        <div class="heading_container">
          <h2>
            Why Choose Us
          </h2>
          <p>
            Choose us because we chose your comfort.          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-4 mx-auto">
          <div class="box">
            <div class="img-box">
              <img src="assets/images/w1.png" alt="">
            </div>
            <div class="detail-box">
              <h4>
                No Reservation Fees
              </h4>
              <p>
                Making a reservation is entirely free. You can get your car parking spot (and cancel it) all for free.               </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mx-auto">
          <div class="box">
            <div class="img-box">
              <img src="assets/images/w2.png" alt="">
            </div>
            <div class="detail-box">
              <h4>
                Pay Onsite
              </h4>
              <p>
                You only pay for parking you show up for! You need to pay for the parking. Nothing else.              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mx-auto">
          <div class="box ">
            <div class="img-box">
              <img src="assets/images/w3.png" alt="">
            </div>
            <div class="detail-box">
              <h4>
                Simple Booking Process
              </h4>
              <p>
                The only requirement for stress-free parking is 
                that you complete a very simple registraton process.              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end why section -->